@font-face {
    font-family: 'neue_montreal';
    src: url('../neuemontreal-regular-webfont.woff2') format('woff2'),
         url('../neuemontreal-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'neue_montreal';
    src: url('../neuemontreal-light-webfont.woff2') format('woff2'),
         url('../neuemontreal-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.pop-up {
    box-sizing: border-box;
    position: fixed;
    padding: 30px 30px;
    width: 300px;
    height: 100%;
    background-color: rgba(45, 46, 47, 0.96);
    color: #eaeaea;
    top: 0;
    right: 0;
    z-index: 900;
    overflow: scroll;
}

.pop-up h3 {
    font-size: 16px;
    margin-bottom: 40px;
}

.pop-up h4 {
    font-size: 13px;
}

.pop-up ul {
    list-style: none;
    padding: 0;
}

.pop-up ul li:first-of-type {
    margin-bottom: 40px;
}

.pop-up h4:nth-of-type(even) {
    margin-bottom: 20px;
    color: #A6A6A6;
}

.pop-up .close {
    position: absolute;
    top: 35px;
    right: 30px;
    cursor: pointer;
}

.pop-up .close img {
    width: 22px;
} 

.open {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.open h3 {
    font-size: 16px;
    margin-left: 10px;
    float: left;
    color: white;
}

.open img {
    width: 20px;
    margin-top: 5px;
    float: left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

body {
    margin: 0;
/*    font-family: 'BenchNine', sans-serif;*/
    font-family: 'neue_montreal', Arial, sans-serif;
}

body.project {
    padding-top: calc(80px + 80px);
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 20px 0;
    letter-spacing: 1.2px;
/*    text-transform: uppercase;*/
}

h2 {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin: 0 0 8px 0;
}

h3 {
    font-weight: 400;
    font-size: 28px;
    margin: 5px 0 20px 0;
    letter-spacing: 0.7px;
/*    text-transform: uppercase;*/
}

h4 {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 1.5;
    margin: 0 0 6px 0;
}

h4 span {
    font-weight: 300;
}

h4:last-of-type{
    margin: 0 0 20px 0;
}

p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.6px;
}

p b {
    font-weight: 500;
}

a {
    color: inherit;
}

.mobile {
    display: none;
}

.index {
    background-image: url("../media/background.jpg");
    background-attachment: fixed;
}

.writing {
    background-image: url("../media/background.jpg");
    background-attachment: fixed;
}

.index .navigation {
    position: static;
    top: 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 40px;
}

.navigation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 40px;
}

nav {
    height: 100%;
    display: table;
    float: right;
    border-spacing: 10px;
/*    text-transform: uppercase;*/
}

nav.home {
    float: left;
    border-spacing: 10px;
    text-transform: uppercase;
}

nav a {
    display: table-cell;
    vertical-align: middle;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    padding-left: 10px;
    text-shadow: 0px 0px 2px rgba(234, 234, 234, 0.15);
}

nav.home a {
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.9px;
}

nav img {
    height: 18px;
    margin: 10px;
    padding-top: 2px;
}

.logo-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    transition: height 400ms;
}

.logo-wrapper .logo {
    position: fixed;
    width: 540px;
    max-width: calc(100vw - 80px);
    height: 240px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -20px;
}

.logo-wrapper .logo .logo-fill,
.logo-wrapper .logo .logo-outline {
    width: auto;
    height: 240px;
    position: absolute;
}

.top {
    z-index: 100;
    pointer-events: none;
}

.bottom {
    z-index: -10;
}

.logo-wrapper .logo .logo-outline {
    z-index: 20;
}

.logo-wrapper .logo .logo-fill {
    z-index: 10;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-bottom: 50px;
    overflow: hidden;
    z-index: -20;
}

.index .hero {
    margin-bottom: 0;
}

.hero img {
    float: left;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero video {
    float: left;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.panel {
  column-count: 2;
  column-gap: 50px;
    margin: 0 50px;
}

.panel.twothird {
  column-count: 1;
  column-gap: 0;
}

.panel.full {
  column-count: 1;
  column-gap: 0;
}

.panel .tile {
    position: relative;
    display: inline-block;
    margin: 0 0 50px;
    width: 100%;
    overflow: auto;
}

.panel.full  .tile  {
    padding: 0;
    box-sizing: border-box;
}

.panel.full .tile.large {
    padding: 0;
}

.panel.twothird  .tile  {
    padding: 0 33% 0 0;
    box-sizing: border-box;
}

.panel.half  .tile  {
    padding: 0 50px;
    box-sizing: border-box;
}

.panel .tile img {
    width: 100%;
    display: block;
}

.panel .tile .hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.6);
    display: none;
}

.panel .tile:hover .hover  {
   display: block;
}

article {
    width: 100%;
    overflow: auto;
    margin-bottom: 50px;
}

article .left {
    width: calc(50vw - 25px);
    padding: 0 50px;
    float: left;
    box-sizing: border-box;
}

.spacer75 {
    height: 75px;
}

.spacer50 {
    height: 50px;
}

.spacer34 {
    height: 34px;
}

.spacer200 {
    height: 200px;
}

.writing h1, 
.writing h2, 
.writing h3, 
.writing h4 {
    color: white;
}

.writing article .left {
    width: calc(70vw - 40px);
    padding: 0;
    margin: 0 auto;
    float: none;
}

article p img {
    width: 35%;
    float: right;
    margin-left: 6px;
}

article p img:nth-of-type(even) {
    float: left;
    margin-right: 6px;
}

article .middle {
    width: calc(50vw - 25px);
    margin: 0 auto;
    word-wrap: break-word;
}

article .right {
    width: calc(50vw - 25px);
    padding-right: 50px;
    float: right;
    box-sizing: border-box;
}

article img {
    width: 100%;
}

article .middle img:not(p img) {
    margin-bottom: 20px;
}

article.padded {
    width: calc(100% - 160px);
    overflow: auto;
    margin-bottom: 50px;
}

article.padded .left {
    width: calc(50vw - 105px);
}

article.padded .right {
    width: calc(50vw - 105px);
}

.project video {
    width: calc(100% - 100px)    !important;
    height: auto   !important;
    margin: 0 50px 50px 50px ;
}

.preview {
    width: 70%;
    margin: 0 auto 40px auto;
    overflow: auto;
}

.preview .item {
    width: calc(50% - 40px);
    margin: 0 20px;
    float: left;
    overflow: auto;
    overflow-x: hidden;
}

.preview .item .image {
    width: calc(35vw - 40px);
    height: calc(35vw - 40px);
    overflow: hidden;
}

.preview .item .landscape {
    width: calc(35vw - 40px);
    height: calc(19vw);
    overflow: hidden;
}

.preview .item .image img {
    width: 100%;
}

.preview .item h3 {
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
}

.about article {
    position: relative;
    overflow: hidden;
}

.about article h1 {
    color: white;
}

.about article h1:first-of-type {
    margin-top: 60px;
}

.about article h1:last-of-type {
    margin-bottom: 60px;
}

.about article .anoid {
    width: 320px;
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 140px;
}

.banner {
    position: absolute;
    width: 100vw;
    height: 100%;
    margin-bottom: 50px;
    overflow: hidden;
    z-index: -20;
}

.banner img {
    float: left;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

iframe {
    padding: 0 40px;
    box-sizing: border-box;
}

footer {
    box-sizing: border-box;
    padding: 0 10%;
    text-align: center;
    margin: 30px 0 60px 0;
}

.index footer,
.writing footer {
    color: white;
}

@media screen and (max-width: 630px) {
    
    .mobile {
        display: block;
    }

    .space34,
    .spacer50,
    .spacer75,
    .spacer200 {
        height: 0;
    }
    
    .mobilespacer20 {
        height: 20px;
    }
    
    .index .navigation,
    .navigation {
        padding: 0 10px;
    }
    
    .menu {
        height: 18px;
        margin: 23px 10px 27px 0;
        float: right;
        padding: 6px;
    }
    
    .close {
        height: 18px;
        position: absolute;
        top: 30px; right: 30px;
        padding: 4px
    }
    
    .navigation .links {
        display: none;
        position: fixed;
        z-index: 200;
        background-color: black;
        color: white;
        top: 0; left: 0;
        width: 100vw;
        height: 100vh;
    }
    
    .navigation .links a {
        display: block;
        margin: 40px;
    }
    
    .logo-wrapper .logo {
        height: 31vw;
        width: 70vw;
    }

    .logo-wrapper .logo .logo-fill,
    .logo-wrapper .logo .logo-outline {
        width: auto;
        height: 31vw;
    }
    
    .panel {
      column-count: 1;
      column-gap: 50px;
        margin: 0 20px;
    }
    
    .panel .tile {
        margin: 0 0 20px;
    }
    
    article {
        margin-bottom: 20px;
    }
    
    article .left,
    .writing article .left {
        width: 100vw;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    article .middle {
        width: calc(50vw - 25px);
        margin: 0 auto;
        word-wrap: break-word;
    }

    article .right {
        width: 100vw;
        padding: 20px 20px 30px 20px;
    }
    
    article.padded {
        width: calc(100%);
        overflow: auto;
        margin-bottom: 50px;
    }

    article.padded .left {
        width: 100vw;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    article.padded .right {
        width: 100vw;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    
    .panel.full  .tile, 
    .panel.twothird  .tile, 
    .panel.half  .tile {
        padding: 0;
    }
    
    .project video {
        width: calc(100% - 40px) !important;
        height: auto   !important;
        background-color: red;
        margin: 0 20px 20px 20px ;
    }
    
    .preview {
        width: 100%;
        margin: 0 auto 40px auto;
        overflow: auto;
    }

    .preview .item {
        width: calc(100% - 40px);
        margin-bottom: 20px;
    }
    
    .preview .item .image {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
        overflow: hidden;
    }
    
    article .middle {
        width: calc(100vw - 40px);
        margin: 0 auto 20px auto;
        word-wrap: break-word;
    }
    
    .about article {
        display: flex;
        flex-direction: column;
    }
    
    .about article .left {order: 2}
    
    .about article .right {
        order: 1;
    }
    
    .about article .anoid {
        width: 70%;
        margin-top: 20px;
        margin-left: 20%;
        margin-right: 10%;
    }
    
    footer {
        padding: 0 6% 0 6%;
    }
    
    .pop-up {
        padding: 30px 40px;
        width: 85%;
    }
    
}